@font-face {
   font-family: 'neuropol';
   font-display: swap;
   src: url('file:///Users/apple/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-02-24_000030/fonts/neuropol/font.ttf');
}
